.bridgeContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 131px;
    left: calc(50% - 552px/2);
    background: #FFFFFF;
    box-shadow: 4px 8px 8px rgba(17, 48, 255, 0.1);
    width: 552px;
    height: 587px;
    padding: 26px 47px 50px 47px;
}

.pageHeader {
    font-weight: bold;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    letter-spacing: 1.12428px;
    text-transform: uppercase;
    color: #1130FF;
    margin-bottom: 42px;
}

.chainPickerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}