.chainPickerContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 17px;
    height: 94px;
}

.chainPickerBox {
    display: flex;
    flex-direction: row;
    border: 1px solid #979797;
    width: 197px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.chainSelector {
    height: 60px;
    border: 1px solid #979797;
    border-left:none;
    border-right:none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chainSelectedImg {
    margin-left:13px;
}

.chainSelectedArrow{
    margin-left: 27px;
}

.chainSelectedArrowDown{
    margin-left: 27px;
    transform: rotate(-180deg);

}
.chainSelector:focus-visible{
    outline: none;
}

.chainButton {
    cursor: pointer;
    height: 60px;
    width: 100px;
    border: 1px solid #979797;
    border-left:none;
    border-right:none;
    position: relative;
    background-color: transparent;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: 1.12428px;
    text-transform: uppercase;
    color: #020202;
    margin-left: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chainDropdownContainer{
    position: absolute;
    top: 60px;
    right: -44px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 5;
    width: 197px;
    min-height: 94px;
    height: 100%;
    overflow: auto;
}

.chainDropdownContainer span {
    padding: 12px 8px;
    margin-top:5px;
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 125%;
    display: flex;
    align-items: center;
    letter-spacing: 1.12428px;
    text-transform: uppercase;
    color: #020202;
    justify-content: center;
    align-items: center;
}

.chainChoiceContainer {
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.chainChoiceContainer img{
    margin-left: 11px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.chainChoiceContainer:hover{
    background: #E5E8FF;
}

.bottomText{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: 1.12428px;
    text-transform: uppercase;
    margin-top: 8px;
    color: #020202;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.upperText {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: 1.12428px;
    text-transform: uppercase;
    color: #020202;
    margin-bottom: 6px;
    margin-top: 0px;
}