.exchangeIcon {
	height: 56px;
	width: 56px;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
	transition-duration: 0.7s;
	transition-property: transform;
	display: flex;
	justify-content: center;
	align-items: center;
}

.exchangeIcon:hover {
	fill: white;
}

.horizontal {
	transform: rotate(-90deg);
	margin-bottom: 34px;
	height: 60px;
	width: 60px;
}

.exchangeIcon:hover > svg {
	filter: invert(1) sepia(1) hue-rotate(200deg);
}

.arrows:hover {
	filter: invert(1) sepia(1) hue-rotate(200deg);
}
