.container {
	position: fixed;
	inset: 0;
	z-index: 0;

	background-color: #b3bdff;
	transition: background-color 0.2s;

	&--swap {
		background-color: #b3bdff;
		&:after {
			border-color: #1130ff;
		}
	}

	&--pool {
		background-color: #e4d1ff;
	}

	&--bridge {
		background-color: #b1eaeb;
	}
}

.logo {
	width: 140px;
	height: 140px;
	display: flex;
	background-color: #1130ff;
	transition: background-color 0.2s;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;

	> img {
		display: block;
		margin: auto;
	}

	&--swap {
		background-color: #1130ff;
	}

	&--pool {
		background-color: #9847ff;
	}

	&--bridge {
		background-color: #2dc8cb;
	}
}

.layer0 {
	position: absolute;
	inset: 0;
	z-index: 1;
	background: url("/images/backdrop-sheer.svg") no-repeat center top;
	background-size: cover;
	z-index: 0;
}

.layer1 {
	position: absolute;
	inset: 0;
	display: flex;
	z-index: 2;
	transform-origin: 50% 50%;
	z-index: 1;
}

.layer1Graphics {
	margin: 0 auto;
	margin-top: 200px;

	path {
		fill: #1130ff;
	}

	&--swap {
		path {
			fill: #1130ff;
		}
	}

	&--pool {
		path {
			fill: #9847ff;
		}
	}

	&--bridge {
		path {
			fill: #2dc8cb;
		}
	}
}

.layer2 {
	position: absolute;
	inset: 0;
	display: flex;
	z-index: 2;
	transform-origin: 50% 50%;
	z-index: 2;
}

.layer2Graphics {
	margin: auto;
}
